@use '/styles/helpers/' as *;

.overlay {
   position: fixed;
   width: 100vw;
   height: 100vh;
   top: 0;
   z-index: 0;
   display: none;

   background-color: rgba(29, 35, 39, 0.425);
   backdrop-filter: blur(rem(1));

   &--is-active {
      display: flex;
   }
}