@use '/styles/helpers/' as *;

.search-form {
   background-color: var(--color-form);
   border-radius: var(--border-radius-medium);
   max-width: rem(500);
   padding: rem(8) rem(10);
   display: flex;
   flex-direction: row;
   gap: rem(10);


   &__input {
      padding-left: rem(30);
      position: relative;
      flex: 1;
      outline: none;
      background-color: inherit;
      background: url(../../icons/search-icon.png) no-repeat left;
            border: none;
   }
}