@use 'helpers' as *;

.container {
   max-width: var(--container-width);
   margin-inline: auto;
   margin-bottom: rem(200);

   @include laptop {
      margin-inline: rem(16);
   }

   @include mobile {
      margin-inline: rem(5);
   }

   @include tablet {
      margin-bottom: rem(150);
   }

   @include mobile {
      margin-bottom: rem(100);
   }
}

.visually-hidden {
   @include visually-hidden;
}

.text--ascent {
   color: var(--color-text-ascent);
}

.icon--transparent {
   filter: brightness(0) invert(1);
   opacity: 0.3;
}